*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background: #ff9c78;
  text-align: center;
  font-family: 'Nunito', Arial, Helvetica, sans-serif; }

h1 {
  letter-spacing: 1px; }

.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; }
  .poke-container .pokemon {
    background-color: #eee;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    position: relative; }
    .poke-container .pokemon__checkbox {
      height: 3rem;
      width: 3rem;
      background-color: #d4d4d4;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: absolute;
      top: 3%;
      right: 6%; }
    .poke-container .pokemon__img-container {
      background-color: rgba(255, 255, 255, 0.6);
      margin-top: 2rem;
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
      .poke-container .pokemon__img-container img {
        max-width: 90%;
        margin-top: 2rem; }
    .poke-container .pokemon__info {
      margin-top: 2rem; }
      .poke-container .pokemon__info--number {
        background-color: #fff;
        font-size: 1.2rem;
        padding: 0.3rem 0.5rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem; }
      .poke-container .pokemon__info--pokeName {
        margin: 1.5rem 0 0.7rem; }

.checked {
  background-color: red; }
