*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background: #ff9c78;
  text-align: center; }

h1 {
  letter-spacing: 1px; }

.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; }
  .poke-container .pokemon {
    background-color: #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    padding: 2rem 1rem; }
    .poke-container .pokemon__img-container {
      background-color: rgba(255, 255, 255, 0.6);
      margin-top: 2rem;
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
      .poke-container .pokemon__img-container a {
        max-width: 90%; }
